{% load static %}
<div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

    <div class="thumb">
        {% if prev_id %}
        <a href="{% url 'blog:single' pid=prev_id %}"><img  style="max-width: 100px;" src="{{prev_image}}" alt=""></a>
        {% endif %}
    </div>
    <div class="arrow">
        {% if prev_id %}
        <a href="{% url 'blog:single' pid=prev_id %}"><span class="lnr text-white lnr-arrow-left"></span></a>
        {% endif %}
    </div>
    <div class="detials">
        <p>Prev Post</p>
        {% if prev_id %}
        <a href="{% url 'blog:single' pid=prev_id %}">

            <h4>{{ prev_title }}</h4>
        </a>
        {% endif %}
    </div>
</div>